<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Triosis</title>
</head>
<body>
    <h1>Welcome to Triosis</h1>
    <h2>How to use the Triosis Website</h2>
    <h4>User Routes</h4>
    <ul>
        <li><span>GET (home): </span> /</li>
        <li><span>GET: </span> /users</li>
        <li><span>GET: </span> /users/:userId</li>
        <li><span>POST: </span>/users</li>
       
        <li><span>PATCH: </span>/users</li>
        <li><span>PUT: </span>/users/:userId</li>
        <li><span>DELETE: </span>/users/:userId</li>
        <li><span>GET: </span>/users/:userId/cart</li>
        <li><span>POST: </span>/users/:userId/cart</li>
        <li><span>PUT: </span>/users/:userId/cart</li>
        <li><span>DELETE: </span>/users/:userId/cart</li>
    </ul>
    <h4>Product Routes</h4>
    <ul>
        <li><span>GET: </span>/products</li>
        <li><span>GET: </span>/products/:product_id</li>
        <li><span>POST: </span>/products</li>
        <li><span>PUT: </span>/products/:product_id</li>
        <li><span>DELETE: </span>/products/:product_id</li>
    </ul>
</body>
</html>